body {
    padding: 20px;
    background-color: #444;
}
#gridContainer {
    padding-bottom: 10px;
}
table {
    background-color: gray;
    border-spacing: 0px;
}
td {
    border: 1px solid rgb(90, 90, 90);
    width: 20px;
    height: 20px;
}
td.dead {
    background-color: transparent;
}
td.live {
    background-color: white;
}

td.alive {
    background-color: chocolate;
}

button {
    
    padding: 1em 1em;
    font-size: 1em;
    text-align: center;
}

#generation {
    color: rgb(188, 198, 211);
    font-size: 25px;
}

li {
    color: rgb(188, 198, 211);
    font-size: 25px; 
}
